* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  cursor: default;
}

html {
  box-sizing: border-box;
  height: 100%;
  color: white;
}

body {
  background-image: linear-gradient(to left, #e91e63, #0d0d0d, #212121, #242424);
  height: inherit;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: sans-serif;
  font-display: swap;
}

.calculadora {
  background-color: #242424;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #e91e63;
}

.tela {
  background-color: #fff;
  height: 70px;
  color: black;
  font-size: 40px;
  align-items: center;
  width: 397px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: end;
}

tr {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

td button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  font-size: 35px;
  padding: 15px 20px;
  width: 70px;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  transition: .25s;
}

td button:hover {
  transition: all .25s ease-in-out;
  transform: scale(1.05);
}

.especial{
  background-color: #e91e63;
}
.especial1 {
  background-color: white;
  color: black;
}

.igual {
  width: 300px;
  height: 70px;
  border-radius: 20px;
  background-color: #e91e63;
}